@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

html,
body,
footer {
    @apply font-roma;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f4f8;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid rgb(22 163 74);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.alice-carousel .alice-carousel__dots .alice-carousel__dots-item {
    height: 10px;
    /* Ajustez la taille si nécessaire */
    width: 10px;
    /* Ajustez la taille si nécessaire */
    border-radius: 50%;
    @apply bg-customgray !important;
    /* Couleur par défaut */
    margin: 0 5px;
    /* Espacement entre les dotss */
    transition: background-color 0.3s;
}

.alice-carousel .alice-carousel__dots .__active {
    @apply bg-primary !important
    /* Utilisez votre couleur primaire */
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}